In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = "./salaries.csv"

df = pd.read_csv('./salaries.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1978155 entries, 0 to 1978154
Data columns (total 11 columns):
 #   Column                Dtype
---  ------                -----
 0   entidadfederativa     object
 1   sujetoobligado        object
 2   nombre                object
 3   denominacion          object
 4   montoneto             float64
 5   cargo                 object
 6   area                  object
 7   montobruto            float64
 8   idInformacion         int64
 9   periodoreportainicio  object
 10  periodoreportafin     object
dtypes: float64(2), int64(1), object(8)
memory usage: 166.0+ MB

In [9]:
chunk_size = 200000

dataframes = []
nullcounts = 0.0

for chunk in pd.read_csv(data, chunksize=chunk_size):
    df = pd.DataFrame(chunk)

    print(df.info())
    dataframes.append(df)

    nullcounts += df.isnull().sum()

print(nullcounts)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   entidadfederativa     200000 non-null  object
 1   sujetoobligado        200000 non-null  object
 2   nombre                196768 non-null  object
 3   denominacion          194681 non-null  object
 4   montoneto             190947 non-null  float64
 5   cargo                 194681 non-null  object
 6   area                  196590 non-null  object
 7   montobruto            195988 non-null  float64
 8   idInformacion         200000 non-null  int64
 9   periodoreportainicio  200000 non-null  object
 10  periodoreportafin     200000 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 16.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 200000 to 399999
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   entidadfederativa     200000 non-null  object
 1   sujetoobligado        200000 non-null  object
 2   nombre                196860 non-null  object
 3   denominacion          194634 non-null  object
 4   montoneto             191087 non-null  float64
 5   cargo                 194634 non-null  object
 6   area                  196643 non-null  object
 7   montobruto            196061 non-null  float64
 8   idInformacion         200000 non-null  int64
 9   periodoreportainicio  200000 non-null  object
 10  periodoreportafin     200000 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 16.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 400000 to 599999
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   entidadfederativa     200000 non-null  object
 1   sujetoobligado        200000 non-null  object
 2   nombre                196691 non-null  object
 3   denominacion          194581 non-null  object
 4   montoneto             191075 non-null  float64
 5   cargo                 194581 non-null  object
 6   area                  196528 non-null  object
 7   montobruto            195941 non-null  float64
 8   idInformacion         200000 non-null  int64
 9   periodoreportainicio  200000 non-null  object
 10  periodoreportafin     200000 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 16.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 600000 to 799999
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   entidadfederativa     200000 non-null  object
 1   sujetoobligado        200000 non-null  object
 2   nombre                196833 non-null  object
 3   denominacion          194643 non-null  object
 4   montoneto             191068 non-null  float64
 5   cargo                 194643 non-null  object
 6   area                  196633 non-null  object
 7   montobruto            196019 non-null  float64
 8   idInformacion         200000 non-null  int64
 9   periodoreportainicio  200000 non-null  object
 10  periodoreportafin     200000 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 16.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 800000 to 999999
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   entidadfederativa     200000 non-null  object
 1   sujetoobligado        200000 non-null  object
 2   nombre                196776 non-null  object
 3   denominacion          194622 non-null  object
 4   montoneto             190993 non-null  float64
 5   cargo                 194622 non-null  object
 6   area                  196613 non-null  object
 7   montobruto            196010 non-null  float64
 8   idInformacion         200000 non-null  int64
 9   periodoreportainicio  200000 non-null  object
 10  periodoreportafin     200000 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 16.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 1000000 to 1199999
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   entidadfederativa     200000 non-null  object
 1   sujetoobligado        200000 non-null  object
 2   nombre                196854 non-null  object
 3   denominacion          194742 non-null  object
 4   montoneto             190990 non-null  float64
 5   cargo                 194742 non-null  object
 6   area                  196721 non-null  object
 7   montobruto            196144 non-null  float64
 8   idInformacion         200000 non-null  int64
 9   periodoreportainicio  200000 non-null  object
 10  periodoreportafin     200000 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 16.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 1200000 to 1399999
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   entidadfederativa     200000 non-null  object
 1   sujetoobligado        200000 non-null  object
 2   nombre                196786 non-null  object
 3   denominacion          194681 non-null  object
 4   montoneto             190934 non-null  float64
 5   cargo                 194681 non-null  object
 6   area                  196622 non-null  object
 7   montobruto            195972 non-null  float64
 8   idInformacion         200000 non-null  int64
 9   periodoreportainicio  200000 non-null  object
 10  periodoreportafin     200000 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 16.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 1400000 to 1599999
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   entidadfederativa     200000 non-null  object
 1   sujetoobligado        200000 non-null  object
 2   nombre                196817 non-null  object
 3   denominacion          194683 non-null  object
 4   montoneto             190896 non-null  float64
 5   cargo                 194683 non-null  object
 6   area                  196699 non-null  object
 7   montobruto            195951 non-null  float64
 8   idInformacion         200000 non-null  int64
 9   periodoreportainicio  200000 non-null  object
 10  periodoreportafin     200000 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 16.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 1600000 to 1799999
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   entidadfederativa     200000 non-null  object
 1   sujetoobligado        200000 non-null  object
 2   nombre                196821 non-null  object
 3   denominacion          194642 non-null  object
 4   montoneto             190951 non-null  float64
 5   cargo                 194642 non-null  object
 6   area                  196671 non-null  object
 7   montobruto            196040 non-null  float64
 8   idInformacion         200000 non-null  int64
 9   periodoreportainicio  200000 non-null  object
 10  periodoreportafin     200000 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 16.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178155 entries, 1800000 to 1978154
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   entidadfederativa     178155 non-null  object
 1   sujetoobligado        178155 non-null  object
 2   nombre                175331 non-null  object
 3   denominacion          173447 non-null  object
 4   montoneto             170038 non-null  float64
 5   cargo                 173447 non-null  object
 6   area                  175217 non-null  object
 7   montobruto            174607 non-null  float64
 8   idInformacion         178155 non-null  int64
 9   periodoreportainicio  178155 non-null  object
 10  periodoreportafin     178155 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 15.0+ MB
None
entidadfederativa           0.0
sujetoobligado              0.0
nombre                  31618.0
denominacion            52799.0
montoneto               89176.0
cargo                   52799.0
area                    33218.0
montobruto              39422.0
idInformacion               0.0
periodoreportainicio        0.0
periodoreportafin           0.0
dtype: float64

In [10]:
print(len(dataframes))

dataframes[0].head(10)

10

,entidadfederativa,sujetoobligado,nombre,denominacion,montoneto,cargo,area,montobruto,idInformacion,periodoreportainicio,periodoreportafin
0,Hidalgo,Jaltocán,Adolfo Hernandez Hernandez,Fontanero,4000.00,Fontanero,OBRAS PUBLICAS,4254.00,16311845,01/01/2018,30/06/2018
1,Ciudad de México,Secretaría de Salud,ARELY SAMANTA CLEOFAS VELASCO,"AUXILIAR DE ENFERMERIA ""A""",12177.86,"AUXILIAR DE ENFERMERIA ""A""",H.G. ENRIQUE CABRERA,16092.00,16480190,01/01/2018,31/03/2018
2,Ciudad de México,Secretaría de Seguridad Ciudadana,MELODY OLIMPIC GONZALEZ MONTES,POLICIA PRIMERO,11652.00,POLICIA PRIMERO,SUBSECRETARIA DE OPERACION POLICIAL,16030.00,17599078,01/01/2020,31/03/2020
3,Federación,Autoridad Educativa Federal en la Ciudad de Mé...,ANGEL ALLENDE PULIDO,APOYO Y ASISTENCIA A LA EDUCACION,10180.57,APOYO Y ASISTENCIA A LA EDUCACION,DIRECCIÓN GENERAL DE OPERACIONES DE SERVICIOS ...,2910.65,6514612,01/07/2018,31/12/2018
4,Aguascalientes,MUNICIPIO DE RINCÓN DE ROMOS,Yolanda Reyes Gonzalez,DIRECTOR,17004.40,DIRECTOR,ACCION CIVICA,6188.40,11927166,01/07/2019,31/12/2019
5,Aguascalientes,UNIVERSIDAD AUTÓNOMA DE AGUASCALIENTES,JESUS GUTIERREZ LOPEZ,PROF. INVEST. ASOCIADO,2644.00,PROF. INVEST. ASOCIADO,DEPORTES,2982.20,11370235,01/07/2018,31/12/2018
6,Campeche,Ayuntamiento de Escárcega,ALFONSO DAMAS RUIZ,JUBILADO Y PENSIONADO,4898.28,JUBILADO Y PENSIONADO,JUBILADOS Y PENSIONADOS,4898.28,15510807,01/07/2019,31/12/2019
7,Aguascalientes,INSTITUTO DE EDUCACIÓN DE AGUASCALIENTES,IMELDA MOLINA LONA,Docente,474.96,Docente,"SECUNDARIA TECNICA NUM. 28, RAFAEL VILLEDA HER...",619.00,15653533,01/05/2019,31/05/2019
8,Guerrero,Secretaría de Educación Guerrero (SEG),PATRICIA RIOS RADILLA,"MAESTRO DE GRUPO DE PRIMARIA, FORANEO. ...",13109.02,"MAESTRO DE GRUPO DE PRIMARIA, FORANEO. ...",RICARDO FLORES MAGON ...,16812.67,16775890,01/04/2018,30/06/2018
9,Guerrero,Secretaría de Educación Guerrero (SEG),HUGO SALMERON SANCHEZ,ASISTENTE DE SERVICIOS EN PLANTEL,6299.30,ASISTENTE DE SERVICIOS EN PLANTEL,BENITO JUAREZ GARCIA,7579.22,16641254,01/04/2018,30/06/2018